@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600,700,800&display=swap');

*{
	font-family: 'Oswald', sans-serif;
}

.font-serif-pro{
	font-family: 'Source Serif Pro', serif;
}

.font-fira-sans{
	font-family: 'Fira Sans', sans-serif;
}

.toggle{
	display: none;
	transition: .3s;
}

article:hover ._text_underline {
	text-decoration: underline;
	-webkit-text-decoration-color: #fbd38d;
	text-decoration-color: #feebc8;
}

.headline--list:after {
    display: block;
    content: "";
    flex: 1;
    width: 100%;
    height: 6px;
    margin-left: 8px;
    background: #000;
}

@media (min-width: 1280px){
	._container {
		width: 85%;
	}
}

.main-card-height{
	height: calc(100vh - 61px);
}

.v-full-card-height{
	height: 450px;
}
